venv/
.venv/
ENV/
env/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl


.mypy_cache/
.pytest_cache/
ruff_cache/
pytest_cache/
coverage.xml
htmlcov/


.vscode/
.idea/
*.iml


build/
dist/
*.egg-info/
*.egg
*.log


*.db
*.sqlite3


staticfiles/
media/


.DS_Store
Thumbs.db
desktop.ini


docker-data/




combined_output_selected.txt
combined_output_front.txt
combined_output.txt

get_project.py
get_project_front.py
vpn_utils.py